* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: #fff0ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: inline-block;
}

.navbar li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
}

.navbar .BlueText {
  color: #5bacc3;
}

.navbar nav {
  display: flex;
  vertical-align: middle;
  margin-right: 40px;
}

.navbar a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

a:link,
a:visited {
  color: black;
}

.navbar h2 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

/*


    The Hero
*/
.header {
  background-image: url(../assets/coffee-circle.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 43.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Blackscreen {
  color: white;
  background-color: #393939;
  width: 18.75rem;
  height: 12.5rem;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.BlackscreenBorder {
  width: 18.75rem;
  height: 12.5rem;
  border: 5px solid #5bacc3;
  position: absolute;
  top: 240px;
  left: 550px;
}

/*
    Nav for the menu
*/

.secondNav {
  background-color: #393939;
  text-align: center;
  color: white;
}
.secondNav a:link {
  color: white;
  text-decoration: none;
}

.secondNav a:visited {
  color: white;
  text-decoration: none;
}

.secondNav li {
  display: inline;
}

.secondNav a {
  border-left: 4px solid #5bacc3;
  padding: 0 20px;
  width: 100%;
  height: 80px;
}

ul {
  list-style-type: none;
}

/*
    Menu Itself
*/
.HotDrinks,
.Pastries {
  background-color: #fff0ed;
  text-align: center;
}

.ColdDrinks {
  background-color: #f7f7f7;
  text-align: center;
}

.Description {
  font-style: italic;
  width: 25%;
  margin: 0 auto;
}
